/* DESKTOPS */
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}

.items {
    width: 78vw;
    height: fit-content;
    float: left;
    text-align: center;
    background-color: transparent;
    margin: 1vw;
    font-weight: 700;
    background-size: contain;
}

#navigation{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    /* margin-right: 5%; */

    display: inline-block;

    width: 100%;
    height: fit-content;
}

#welcome {
    height: fit-content;
    /* display: inline; */
}

#logo  {
    height: 5vw;
    width: auto;
    float: left;
}

#desktop-menu {
    width: 80vw;
    left: 0%;
    right: 0%;
    margin: 0% auto;

    float: right;
}

.menu-link {
    transition: 0.5s;
    margin-right: 2vw;
}

.menu-link:hover {
    opacity: 75%;
}

#desktop-menu a{
    margin-top: 2vw;
    color: gray;
    text-decoration: none;

    float: right;
}

#logo {
    float: left;

    max-height: 5vw;
}

#mobile-menu {
    display: none;
}

#mobile-menu a {
    margin: 2vw;
    color: gray;
    text-decoration: none;
}

.project-list {
    position: relative;
    width: 80vw;
    height: fit-content;
    left: 0;
    right: 0;
    margin: 2vw auto;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    font-size: 1.3vw;
    font-weight: 100;
    color:grey;
    opacity: 50%;
}

#Corona-stats {
    font-size: 0.5em;
}

#Corona-stats{
    margin-top: 1vw;
}

.section-name {
    /* float: left; */
    text-align: left;
    width: 100%;
    margin-left: 1vw;;
    font-size: 72px;
}

.my-photo {
    margin-top: 8vw;
    margin-bottom: 5vw;

    padding-top: 10vw;;

    width: 100%
}

.images {
    border-radius: 25px;
    transition: .5s ease;
}

.images:hover{
    opacity: 0.3;
}

.project-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.items a{
    text-decoration: none;
}

.project-details {
    height: fit-content;
    display: inline-block;
    height: fit-content;
    margin-bottom: 5vw;
    position: relative;
    overflow: overlay;
}

.in-paragraph-image {
    margin-left: 60%;
    margin-top: 20%;
}

.project-detail-text {
    width: 80%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: auto;
    height: fit-content;
}

.project-detail-title h1 {
    font-size: 144px;
    text-align: left;
    margin: auto;
    color: white;
}

.project-detail-title hr {
    border-top: solid 3px #ffffff;
    max-width: 80%;
    margin-left: 0%;
}

.project-detail-paragraph {
    text-align: left;
    width: 60%;
    margin: auto;
    margin-left: 0%;
}

.project-detail-paragraph p{
    background: white;
}

.info-container {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    height: fit-content;

    display: inline-block;
}

.info-text-wrapper {
    margin: auto;
    top: 5%;s
}

.info-text-wrapper h2 {
    font-size: 144px;
    text-align: left;
}
.info-text-wrapper a {
    text-decoration: none;
}

.info-container img{
    
}


@media all and (min-width: 800px) and (max-width: 1200px) {
    .items {
        width: calc(76vw/2);
        height: fit-content;
        float: left;
        text-align: center;
        background-color: transparent;
        margin: 1vw;
    }
}

@media all and (min-width: 1201px) {
    .items {
        width: calc(74vw/3);
        height: fit-content;
        float: left;
        text-align: center;
        background-color: transparent;
        margin: 1vw;

        border-radius: 25px;
    }
}


/* FOR MOBILE */

@media all and (max-device-width: 480px) and (orientation: portrait) {
    .items {
        width: 78vw;
        height: fit-content;
        float: left;
        text-align: center;
        background-color: transparent;
        margin: 1vw;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        display: inline-block;
    }
}

@media all and (max-device-width: 480px) and (orientation: landscape) {
    .items {
        width: calc(74vw/3);
        height: fit-content;
        float: left;
        text-align: center;
        background-color: transparent;
        margin: 1vw;
    }

    #desktop-menu {
        display: none;
    }
    #mobile-menu {
        display: inline-block;
    }
}